{{ $dailycss := resources.Get "css/daily.scss" | toCSS | minify | fingerprint }}
{{ $jquery := resources.Get "js/jquery/jquery.slim.min.js" }}
{{ $dailyjs := resources.Get "js/daily.js" }}
{{ $dailyjs := slice $jquery $dailyjs | resources.Concat "js/daily.bundle.js" | minify | fingerprint }}
<div class="daily">
<div class="mathaday" path="{{ "/math-a-day/" | relURL }}"><div>Math-a-day</div><img alt="Math-a-day" src="{{ "/img/spinner.gif" | relURL }}" /></div>
<div class="taglicheaufgabe" path="{{ "/taegliche-aufgabe/" | relURL }}"><div>Tägliche Aufgabe</div><img alt="Tägliche Aufgabe" src="{{ "/img/spinner.gif" | relURL }}" /></div>
<div class="dailychallengeforkids" path="{{ "/daily-challenge-for-kids/" | relURL }}"><div>Daily Challenge for Kids</div><img alt="Daily Challenge for Kids" src="{{ "/img/spinner.gif" | relURL }}" /></div>
<link rel="stylesheet" href="{{ $dailycss.RelPermalink }}" />
<script src="{{ $dailyjs.RelPermalink }}"></script>
</div>
